# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Dataset lớn
*.csv
*.zip

# IDE settings
.idea/
.vscode/

# DB
.env

# log files
*.log